main {
  padding: 10px;
}

.all-todos {
  box-shadow: 0px 1px 5px 1px rgb(213, 213, 213, 213);
}

.all-todos--title {
  align-items: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.todos--title {
  margin-bottom: 10px;
}

.sort-options {
  padding-left: 20px;
}

.todos {
  /* overflow-y: scroll;
  max-height: 125px; */
}

.todo-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  font-weight: 800;
}

.button-options {
  margin-top: 5px;
}

.todo {
  list-style-type: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.todo,
.todo-active {
  /* box-shadow: 0px 1px 5px 1px rgb(213, 213, 213, 213); */
  border: 1px solid rgb(213, 213, 213, 213);
  border-radius: 2px;
  margin: 10px;
}

.sorting {
  width: 125px;
}

.edit,
.remove {
  border-radius: 2rem;
  border: 0;
  margin: 5px;
  width: 2rem;
  height: 2rem;
}
.remove {
  border: 0;
}

/* When a todo is active: */

.todo-task {
  grid-area: todo-task;
}
.todo-icon {
  grid-area: todo-icon;
}
.todo-project {
  grid-area: todo-project;
}
.todo-date {
  grid-area: todo-date;
}
.todo-time {
  grid-area: todo-time;
}
.todo-priority {
  grid-area: todo-priority;
}
.todo-active {
  display: grid;
  cursor: pointer;
  grid-template-columns: 30px 1fr;
  grid-template-rows: repeat(4, 30px);
  grid-template-areas:
    "todo-icon todo-task"
    "todo-icon todo-project"
    "todo-icon todo-date-time"
    "todo-icon todo-priority";
}
