main {
  margin: 20px;
  padding: 10px;
}

.all-todos {
  box-shadow: 0px 1px 5px 1px rgb(213, 213, 213, 213);
}

.all-todos--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.todo {
  list-style-type: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.todo,
.todo-active {
  box-shadow: 0px 1px 5px 1px rgb(213, 213, 213, 213);
  border-radius: 2px;
  margin: 10px;
}

.edit,
.remove {
  border-radius: 50px;
  border-radius: 5px;
  border: 0;
  margin: 5px;
  padding: 5px;
}

.remove {
  border: 0;
}

/* When a todo is active: */

.todo-task {
  grid-area: todo-task;
}

.todo-icon {
  grid-area: todo-icon;
}

.todo-project {
  grid-area: todo-project;
}
.todo-date {
  grid-area: todo-date;
}
.todo-time {
  grid-area: todo-time;
}
.todo-priority {
  grid-area: todo-priority;
}

.todo-active {
  display: grid;
  cursor: pointer;
  grid-template-columns: 30px 1fr;
  grid-template-rows: repeat(4, 30px);
  grid-template-areas:
    "todo-icon todo-task"
    "todo-icon todo-project"
    "todo-icon todo-date-time"
    "todo-icon todo-priority";
}
