* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Aldine Regular";
  src: url("./fonts/Aldine\ 401\ Regular.otf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Aldine Regular";
}

div,
span,
p,
input {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
