:root {
  --header-color: #071b24;
  --sidebar-color: #3a6961;
}

body {
  margin: 0; 
  padding: 0;
}

@font-face {
  font-family: 'Orbitron';
  src: url(./Orbitron-VariableFont_wght.ttf) format('truetype');
  font-style: normal;
}

.header {
  padding: 100px;
  width: 100%;
  height: 50px; 
  background-color: var(--header-color);
  color: #0b485a;
  font-family: 'Orbitron';
  font-size: 50px;
}

.sideMain {
  display: flex; 
}

.sidebar {
  padding: 50px 50px;
  height: 100vh;
  width: 250px;
  font-family: 'Orbitron';
  font-size: 25px;
  background-color: var(--sidebar-color);
  color: var(--header-color);
}

.element, .form-grid {
  border: 2px solid var(--header-color);
  border-radius: 10px;
  width: 500px;
  margin: 50px; 
  padding: 20px;
}

.title-element, .project-element, .date-element, .time-element, .priority-element {
  font-family: 'Orbitron';
  padding-bottom: 10px;
  color: var(--sidebar-color);
}

.title-element {
  font-weight: bold;
  font-size: 50px;
}

.sidebar-element {
  font-size: 20px;
  padding: 20px 0 0 0px;
}

.form-grid {
  display: grid;
  grid-template:  repeat(4, 90px) / 150px 300px;
  align-items: center;
  row-gap: 10px;
}

label {
  height: 25px;
  width: 250px;
  align-items: center;
  font-family: 'Orbitron';

}

.input-box {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  align-items: center;
}

.radio-button {
  border: 1px solid grey;
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.button-box {
  display: flex; 
}

.create-todo, .date-order, .unorder {
  background-color: var(--sidebar-color);
  color: var(--header-color);
  font-family: 'Orbitron';
  font-size: 20px;
  border-radius: 10px;
}

.date-order, .unorder {
  margin: 20px 0px 0px 50px ; 
}